/* plot stuff */
.line {
  fill: none;
}

.axis path {
  stroke: black;
}

.axis text {
  font-size: 0.7rem;
}

.axis-grid line {
  stroke: black;
  stroke-width: 0.08;
}

.tooltip {
  position: absolute;
  color: white;
  font-size: 0.7em;
  background: black;
  padding: 15px;
}

/* page stuff */
ul {
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.link-div {
  display: flex;
  align-items: center;
}

.avatar-circle {
  border-radius: 50%;
  max-height: 75px;
  max-width: 75px;
}

.player-card {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
}
