/* line plot stuff */
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.axis text {
  font-size: 11px;
}

.axis-grid line {
  stroke: black;
  stroke-width: 0.08;
}

/* page stuff */
.avatar-circle {
  border-radius: 50%;
  max-height: 75px;
  max-width: 75px;
}

.player-card {
  max-width: 250px;
  max-height: 150px;
}
